@model IEnumerable<PcHut.Models.product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    

}
<h2>Products @ViewBag.min</h2>
@{
    if (Session["user_type"] != null)
    {
        string userType = Session["user_type"].ToString();
        if (int.Parse(userType) == 1 || int.Parse(userType) == 2)
        {
            <a href="/product/create">Create Product</a>
        }

    }
}

@using (Html.BeginForm("PriceFilter"))
{
    <label>Minimum</label>
    <input type="text" id="minimum" name="minimum" />
    <label>Maximum</label>
    <input type="text" id="maximum" name="maximum" />
    <button type="submit" >Filter</button>
}




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.warranty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.specification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Special)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brand.brand_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category.category_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product_name)
            </td>
            <td>
                @{
                    int sig = item.status;
                }
                @if (sig == 1)
                {
                    <p>Active</p>
                }
                else
                {
                    <p>Inactive</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.warranty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.specification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Special)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brand.brand_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category.category_name)
            </td>
            <td>
                @if (item.image != null)
                {
                    @*@Html.DisplayFor(modelItem => item.image)*@
                    <img src="@Url.Content(item.image)" alt="" height="150" width="200" />
                }
            </td>
            @{
                if (Session["user_type"] != null)
                {
                    string userType = Session["user_type"].ToString();
                    if (int.Parse(userType) == 1 || int.Parse(userType) == 2)
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.product_id }) |

                            @Html.ActionLink("Delete", "Delete", new { id = item.product_id }) |

                            @Html.ActionLink("Change Status", "ChangeStatus", new { id = item.product_id })
                        </td>
                    }

                    <td>
                        @if (sig == 1)
                        {
                            using (Html.BeginForm("AddToCart", "Cart", new { id = item.product_id }))
                            {
                                <div>

                                    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                                    <input type="submit" class="btn btn-success" value="Add to Cart">
                                </div>
                            }
                        }
                        else
                        {
                            <div>

                                <input type="submit" class="btn btn-danger" value="Out Of Stock!" disabled>
                            </div>
                        }
                    </td>
                }

            }
        </tr>
    }

</table>
