
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PcHut.Controllers
@using PcHut.Models

<h2>Cart</h2>

<body>
    <table class="table" style="text-align:justify">
        <tr>

            <th>Product Name</th>;
            <th>Price</th>
            <th> Quantity</th>
            <th> Total</th>

            <th></th>


        </tr>
        @foreach (var item in (List<Item>)Session["Cart"])
        {
            <tr>


                <td>@item.Products.product_name</td>
                <td>@item.Products.price</td>
                <td id="@item.Products.product_id"><input style="border: 0; outline: none" name="quantity" type="text" value="@item.Quantity" disabled/>
                    <button class="btn-sm btn-success" name="minus" onclick="quantity(this)"><</button> 
                    <button class="btn-sm btn-success" name="plus" onclick="quantity(this)">></button>
                </td>
                @*<td><input type="number" onclick="quantity(this.id)" id="@item.Products.product_id" /></td>*@
                <td>@(item.Quantity*item.Products.price)</td>
                <td>
                    @using (Html.BeginForm("Remove", "Cart", new { id = item.Products.product_id }))
                    {
                        <div>
                            <input type="submit" class="btn btn-danger" value="Remove">
                        </div>
                    }
                </td>




            </tr>





        }

    </table>
    <div style="text-align:center;">

        <a href="/Cart/Checkout" class="btn btn-warning">Checkout</a>
    </div>
    @Html.ActionLink("Continue Shopping", "Index", "Product")
</body>

